button {
  background: none;
  color: inherit;
}

.ace_search,
.dropdown-content,
body {
  color: #303030;
  background: white;
}

.theme-dark .ace_search {
  background: inherit;
  color: inherit;
}

.app-theme-dark,
.app-theme-dark .ace_search {
  background: #171717;
  color: #efefef;
}

.bigfont {
  color: #363636;
}

.modal,
select,
.dropdown-content a,
.label,
label {
  color: inherit;
}

#toolbar-toggle,
.sidenav,
.content,
.nav-main,
.modal,
#status-filename:hover,
.ace_status-indicator,
#viewroot,
.ace_button,
.btn-toggle,
.toolbar {
  background: inherit;
}

.theme-dark option {
  color: white;
  background-color: #303030;
}

.theme-dark .ace_search {
  -webkit-box-shadow: 0 0.7px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0.7px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.7px 2px rgba(0, 0, 0, 0.7);
}

.app-theme-dark .ace_search {
  box-shadow: none;
  border-bottom: 2px solid black;
}

.theme-dark .ace_prompt_container,
.theme-dark .dropdown-content,
.theme-dark .modal {
  background: #202020;
  color: white;
}

.app-theme-dark label,
.app-theme-dark .label {
  color: #aaaaaa;
}

.theme-dark .dropdown-content li>a {
  color: #dddddd;
}

.modal-overlay,
.sidenav-overlay {
  background: #202020
}

.type-icon,
.dropdown-icon {
  opacity: 0.95;
}

.sidenav-push {
  box-shadow: none;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

/*components*/
.ace_tooltip {
  color: #383838;
  background: white;
  border-color: silver;
}

.theme-dark .ace_tooltip {
  color: #eee;
  background: #333;
  border-color: #444;
}

.indicator-pending:before {
  background: #e51c23;
  opacity: 0.8;
}

:not(.theme-dark) .blink .material-icons,
.theme-dark .blink .material-icons,
:not(.theme-dark) .indicator-unsaved .material-icons,
.theme-dark .indicator-unsaved .material-icons {
  color: #e51c23;
}

.mod-key-held {
  border-bottom: 2px solid #e51c23;
  background: rgb(128, 100, 100);
  background: rgba(224, 30, 35, 0.1);
  opacity: 0.8;
  border-radius: 0;
}

.progress-finished .determinate {
  background: #82b1ff;
}

/*Buttons,Tabs*/
/*Highlight*/
.ace_button:active,
.ace_searchbtn:active,
button:active {
  background: #efefef;
  color: #2196f3;
}

.file-item:active {
  background: #efefef;
}

.theme-dark .ace_button:active,
.theme-dark .ace_searchbtn:active,
.theme-dark button:active,
.theme-dark .file-item:active {
  background: #202020;
  opacity: 0.7;
}

.item-selected,
.item-selected:hover {
  border: 1px solid #2196f3;
  background: #E3F2FD;
}

.theme-dark .item-selected,
.theme-dark .item-selected:hover {
  background: rgb(0, 64, 0);
  background: rgba(0, 128, 0, 0.1);
}

.file-item-marked {
  background: rgb(180, 227, 258);
  background: rgba(39, 150, 243, 0.3);
  color: #0d47a1;
}

.theme-dark .file-item-marked {
  background: rgb(13, 50, 81);
  background: rgba(39, 150, 243, 0.3);
  color: white;
}

tr:hover,
.dropdown-content>li:hover,
.file-item:hover {
  background: #f7f7f7;
}

.theme-dark tr:hover,
.theme-dark .hoverable:hover,
.theme-dark .dropdown-content>li:hover,
.theme-dark .file-item:hover {
  background: rgb(0, 0, 0, 0.15);
}

.editor-highlight:hover,
.file-item-marked:hover {
  background: #0d47a1;
  color: white;
}

.theme-dark .editor-highlight:hover,
.theme-dark .file-item-marked:hover {
  background: #0d47a1;
}

/*Hover*/
@media only screen and (max-width: 600px),
(max-height: 600px) {

  /*Mobile: hide focus outline*/
  .sub-header:focus,
  .tabbable:focus,
  .buttonBar span:focus,
  button:focus,
  .modal:focus,
  .bg-header:focus,
  .tab-page:focus,
  .file-item:focus {
    outline: none;
  }
}

.clipper:hover {
  background: rgba(13, 71, 161, 0.1);
}

/*Active*/
.tab>a>.material-icons {
  color: inherit;
}

.gutter {
  background-color: #f5f5f5;
  border: 1px solid #efefef;
}


.tab.disabled>a,
.tab.disabled>a:hover {
  color: rgba(238, 110, 115, 0.4);
}

.theme-dark .gutter {
  border: 1px solid #333333;
  background-color: #111111;
}

.app-theme-light .sidenav>div {
  background: #fbfbfb;
}

.tab>.active {
  color: #303030;
}

.app-theme-light {
  color: #353535;
  background: white;
}

.mod-key-active,
.btn-flat,
.theme-dark .btn-flat,
.checked {
  color: #2196f3;
}

.mod-key-enabled {
  border: 2px solid !important;
}

.buttonBar {
  background: #e7e7e7;
}

.buttonBar span[ace_selected_button="true"] {
  background: #2196f3;
  color: white;
  opacity: 1;
}

.app-theme-dark .buttonBar span[ace_selected_button="true"] {
  background: #2196f3;
}

.theme-dark .buttonBar span[ace_selected_button="true"],
.theme-dark .tab>.active,
.theme-dark .toolbar,
.theme-dark .material-icons,
.theme-dark .mod-key-active,
.theme-dark .checked {
  color: white;
}

/*.editor .ace_text-input{*/
/*    opacity: 1;*/
/*    background: white;*/
/*    z-index: 1;*/
/*}*/
/*Inactive*/
.border-inactive {
  border-color: #efefef;
}

.editor .ace_marker-layer .ace_active-line {
  border: 0.15em solid rgb(128, 128, 128);
  border-left: none;
  opacity: 0.2;
}

.ace_dark .ace_marker-layer .ace_active-line {
  border: none;
  opacity: 0.4;
}

/*.ace_active-line {*/
/*    opacity: 0.5;*/
/*    border: 2px solid #bbb;*/
/*    border-radius: 4px;*/
/*}*/
.ace_editor .ace_scrollbar_marker .ace_active-line {
  border: 1px solid #90caf9;
}

.ace_scrollbar .marker_cursor {
  border-color: black;
}

.ace_dark .ace_scrollbar .marker_cursor {
  border-color: white;
}

.editor>.ace_scroller .ace_bracket {
  border-color: green;
}

.editor>.ace_scroller .ace_error_bracket {
  border: 1px solid red;
}

.ace_editor .ace_scrollbar_marker .ace_selection {
  background: #795548;
}

.ace_dark .ace_scrollbar_marker .ace_selection {
  background: #ffeb3b;
}

.ace_editor .ace_scrollbar_marker .ace_bracket {
  border: 1px solid #0d47a1;
  background: green;
}

.marker_square {
  background: none;
  border: 1px solid black;
}

.ace_nomatch .ace_search_field:active,
.ace_nomatch input:not([type]):focus,
.ace_nomatch input:focus {
  border-color: #999999;
  opacity: 0.8;
}

.ace_bad_regex .ace_search_field:active,
.ace_bad_regex input:not([type]):focus,
.ace_bad_regex input:focus {
  /* color: #e01030; */
  border-color: #F44336;
}

.ace_dark .marker_square {
  border-color: #eee;
}

.ace_editor .ace_scrollbar_marker .ace_selected-word {
  background: #777777;
}

.buttonBar span,
.color-inactive,
.tab>a,
.ace_button:not(.checked),
#opendocs .file-item:not(.activeTab)>.material-icons {
  color: #777777;
  opacity: 0.8;
}

.scroll-hide,
.theme-dark .scroll-hide {
  box-shadow: none;
  border-width: 1px;
}

.tab>.active {
  opacity: 1;
}

.theme-dark buttonBar span {
  color: white;
}

.theme-dark .color-inactive,
.theme-dark .tab>a,
.theme-dark .ace_button:not(.checked),
.theme-dark #opendocs .file-item:not(.activeTab)>.material-icons {
  color: #bbbbbb;
}

/*theme-auto*/
.app-theme-dark .border-inactive {
  border-color: #212121;
}

/*checkbox*/
.checkbox-track:before {
  opacity: 0.5;
  background: #999999;
}

.checkbox-track:after {
  background: #999999;
}

:checked+.checkbox-track:after,
:checked+.checkbox-track:before {
  background: #2196f3;
}

:not(:checked)+.checkbox-filled-in:after {
  border-color: #777777;
  opacity: 0.8;
}

:checked+.checkbox-filled-in:before {
  border-color: white;
  outline: 1px solid #2196f3;
}

.theme-dark :not(:checked)+.checkbox-filled-in:after {
  border-color: #bbbbbb;
}

.app-theme-dark :checked+.checkbox-filled-in:after {
  background: #2196f3;
  border-color: #2196f3;
}

[class^="ace_cursor_handle-"],
[class*=" ace_cursor_handle-"] {
  color: #2196F3;
}

/*Inputs*/
select {
  background: #e7e7e7;
  /*lighter than inputs*/
  border: 0 solid #2196f3;
}

::-webkit-input-placeholder {
  color: #777777
}

::-moz-placeholder {
  color: #777777
}

:-ms-input-placeholder {
  color: #777777
}

::-ms-input-placeholder {
  color: #777777
}

::placeholder {
  color: #777777
}

textarea,
input:not([type]),
input[type='search'],
input[type='text'],
input[type='number'],
input[type='password'],
.ace_prompt_container .ace_editor:first-child,
input[type='url'] {
  background: #e0e0e0;
  color: inherit;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: border 0.3s, -webkit-box-shadow 0.3s;
  -moz-transition: border 0.3s, -webkit-box-shadow 0.3s;
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}

.theme-dark textarea,
.ace_prompt_container .ace_dark:first-child {
  background: #101010;
}

.app-theme-dark select,
.app-theme-dark .buttonBar,
.app-theme-dark input:not([type]),
.app-theme-dark input {
  background: #303030;
}

.border-secondary,
.ace_prompt_container .ace_focus:first-child {
  border: 1px;
}

input:not([type])[disabled],
input[disabled] {
  color: #777777;
}

.border-secondary,
.ace_prompt_container .ace_focus:first-child,
input:not([type]):focus:not([readonly]),
input:focus:not([readonly]) {
  outline: none;
  border-style: solid;
  border-color: #2196f3;
}

.theme-dark select,
.theme-dark .border-secondary,
.ace_prompt_container .ace_dark:first-child,
.theme-dark input:not([type]):not([readOnly]),
.theme-dark input:not([readOnly]) {
  border-color: white;
}

input:not([type]):focus[readonly],
input:focus[readonly] {
  border-color: gray;
  border-style: dashed;
  outline: none;
}

/*Lists*/
.item_list-item,
.conflict-item {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/*Headers, Footers, Shadows*/
.nav-main,
.shadow-bottom {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.theme-dark .nav-main,
.theme-dark .shadow-bottom {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn-toggle:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}

.btn-toggle__activated:hover {
  -webkit-box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -3px 1px -2px rgba(0, 0, 0, 0.12), 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px -5px 0 rgba(0, 0, 0, 0.2)
}

.app-theme-dark .nav-main {
  background: #202020;
}

.bg-header {
  background: #f0f0f0;
  border-bottom: 1px solid #dddddd;
}

.theme-dark .bg-header {
  background: black;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid black;
}

.app-theme-dark .bg-header {
  background: inherit;
  border-bottom: 1px solid #212121;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#status-bar {
  border-top: 1px solid #dddddd;
}

.theme-dark #status-bar {
  border-top: 1px solid black;
}

.app-theme-dark #status-bar,
.app-theme-dark #status-filename {
  background: #151515;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.shadow-top {
  -webkit-box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);
}

.theme-dark .shadow-top {
  -webkit-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
}

/* region of different contrast from background*/
.part {
  background: #efefef;
  border: 1px solid #dddddd;
}

.theme-dark .part {
  background: #303030;
  border: 1px solid black;
}

/*Scrollbars*/
.fileview-container>.fileview::-webkit-scrollbar {
  background: #e7e7e7;
}

.theme-dark .fileview-container>.fileview::-webkit-scrollbar {
  background: rgb(20, 20, 20);
}

.editor>.ace_scrollbar::-webkit-scrollbar {
  background: rgb(250, 250, 250);
  background: rgb(128, 128, 128, 0.1);
}

.theme-dark .editor>.ace_scrollbar::-webkit-scrollbar {
  background: rgb(25, 25, 25);
  background: rgba(0, 0, 0, 0.1);
}

.fileview::-webkit-scrollbar-thumb,
.editor>.ace_scrollbar::-webkit-scrollbar-thumb {
  background-color: #c0cfd8;
  border-radius: 3px;
}

.theme-dark .fileview::-webkit-scrollbar-thumb,
.theme-dark .editor>.ace_scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(150, 150, 150);
}

/*default styling for keyboard focus, just !important the whole thing*/
.btn.nav-focused {
  border: 1px solid;
}

.nav-focused {
  border-color: #ffdd00;
}

:not(.btn).nav-focused,
input[type='checkbox'].nav-focused+span,
.btn-flat.nav-focused {
  border: 1px solid orange !important;
}

.nav-focused>.material-icons:not(button) {
  color: #1565C0 !important;
}

.file-item.nav-focused {
  color: inherit;
}

.nav-skipcontainer {
  border-top: 2px solid #ff7700;
  border-bottom: 1px solid #ff7700;
}

/*region theme-auto - Modifications to use ace themes for application*/
.theme-auto .color-inactive {
  opacity: 0.6;
}

.theme-auto :checked+.checkbox-filled-in:before {
  border-color: white;
}

.theme-auto .buttonBar span {
  color: inherit;
}

.theme-auto .border-inactive {
  border-color: #333333;
  border-color: rgba(0, 0, 0, 0.15);
}

.theme-auto .nav-breadcrumb {
  background: rgba(128, 128, 128);
  background: rgba(128, 128, 128, 0.9);
}

.theme-auto .buttonBar,
.theme-auto select,
.theme-auto input:not([type]),
.theme-auto input {
  background: black;
  background: rgba(0, 0, 0, 0.2);
}

.theme-auto .part {
  background: inherit;
  border: 1px solid rgb(128, 128, 128);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.theme-ace-tomorrow-night .tab>.active {
  color: rgb(240, 238, 245);
}

.theme-dark-bg .sidenav>div {
  background: rgba(0, 0, 0, 0.1);
}

.theme-contrast {
  color: white;
}

/*region gruvbox*/
.theme-ace-gruvbox :checked+.checkbox-track:before,
.theme-ace-gruvbox :checked+.checkbox-track:after,
.theme-ace-gruvbox :checked+.checkbox-filled-in:after {
  background: #8FBF7F;
  border-color: #8FBF7F;
}

.theme-ace-gruvbox .btn {
  background: #8FBF7F;
}

.theme-ace-gruvbox .buttonBar span[ace_selected_button="true"] {
  background: #8FBF7F;
}

.theme-ace-gruvbox .tab>.active,
.theme-ace-gruvbox .toolbar,
.theme-ace-gruvbox .material-icons,
.theme-ace-gruvbox .mod-key-active,
.theme-ace-gruvbox .checked {
  color: inherit;
}

/*endregion*/
/*region gob*/
.theme-ace-gob {
  color: #90ff90;
}

.theme-ace-gob .buttonBar span[ace_selected_button="true"],
.theme-ace-gob :checked+.checkbox-filled-in:after {
  background: #303030;
  border-color: #303030;
}

.theme-ace-gob :checked+.checkbox-track:before {
  opacity: 0.5;
}

.theme-ace-gob :checked+.checkbox-track:before,
.theme-ace-gob :checked+.checkbox-track:after {
  background: rgb(3, 238, 3);
}

.theme-ace-gob .sub-header {
  color: rgb(3, 238, 3);
}

.theme-ace-gob :checked+.checkbox-filled-in:before {
  border-color: rgb(3, 238, 3);
}

.theme-ace-gob .color-inactive,
.theme-ace-gob .color-inactive,
.theme-ace-gob .tab>a,
.theme-ace-gob .ace_button:not(.checked),
.theme-ace-gob #opendocs .file-item:not(.activeTab)>.material-icons {
  color: #999999;
}

.theme-ace-gob .btn {
  background: #303030;
  color: rgb(3, 238, 3);
}

.theme-ace-gob ::placeholder {
  color: rgb(20, 116, 40)
}

.theme-ace-gob ::-webkit-input-placeholder {
  color: rgb(20, 116, 40)
}

.theme-ace-gob ::-moz-placeholder {
  color: rgb(20, 116, 40)
}

.theme-ace-gob :-ms-input-placeholder {
  color: rgb(20, 116, 40)
}

.theme-ace-gob ::-ms-input-placeholder {
  color: rgb(20, 116, 40)
}

.theme-ace-gob input:not([type]),
.theme-ace-gob input {
  background: rgb(18, 22, 19);
}

.theme-ace-gob input:not([type]):not([readOnly]),
.theme-ace-gob input:not([readOnly]) {
  border-color: rgb(3, 238, 3);
}

.theme-ace-gob .nav-main,
.theme-ace-gob .shadow-bottom {
  border-bottom: 1px solid #101010;
  box-shadow: none;
}

.theme-ace-gob .shadow-top {
  border-top: 2px solid #222;
  box-shadow: none;
}

.theme-ace-gob #toolbar-toggle {
  border: 2px solid #222;
}

.theme-ace-gob .fileview::-webkit-scrollbar-thumb,
.theme-ace-gob .editor>.ace_scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(3, 238, 3);
}

.theme-ace-gob .buttonBar span[ace_selected_button="true"],
.theme-ace-gob .tab>.active,
.theme-ace-gob .toolbar,
.theme-ace-gob .btn-flat,
.theme-ace-gob .material-icons,
.theme-ace-gob .mod-key-active,
.theme-ace-gob .checked {
  color: rgb(3, 238, 3);
}

.theme-ace-gob #runButton>.material-icons {
  color: white;
  background: rgb(20, 116, 30);
}

.theme-ace-gob .bg-header {
  background: #151515;
}

.theme-ace-gob .modal,
.theme-ace-gob .dropddown-content {
  background: #202020;
}

.theme-ace-gob .buttonBar,
.theme-ace-gob select,
.theme-ace-gob input:not([type]),
.theme-ace-gob input,
.theme-ace-gob #status-filename {
  background: #151515;
}

/*endregion*/
/*endregion*/