.theme-vs .sidenav {
    color: $++++foreground|++sideBar.foreground;
}
.theme-dark.theme-vs .sidenav{
    color: $foreground|sideBar.foreground;
}
.theme-vs .modal,
.theme-vs .ace_search {
    background: $dialog.background|sideBar.background;
    color: $dialog.foreground|foreground;
}
.theme-vs input:not(:focus):not([type]),
.theme-vs input[type='search']:not(:focus),
.theme-vs input[type='text']:not(:focus),
.theme-vs select:not(:focus),
.theme-vs input[type='number']:not(:focus),
.theme-vs input[type='password']:not(:focus),
.theme-vs input[type='url']:not(:focus) {
    border: 1px solid $input.border;
}
.theme-vs .part{
    background: $panel.background;
    color: $panel.foreground;
}
.theme-vs .toolbar,
.theme-vs .toolbar button {
    background: $activityBar.background;
    color: $activityBar.foreground;
}

.theme-vs .sidenav {
    background: $sideBar.background;
    border-color: $sideBar.border;
    color: $++++foreground|++sideBar.foreground;
}
.theme-dark.theme-vs .sidenav{
    color: $foreground|sideBar.foreground;
}

.theme-vs .nav-main {
    background: $activityBar.background;
    color: $activityBar.foreground;
    border-color: $activityBar.foreground;
}

.theme-vs .modal-header{
    color: $sideBarSectionHeader.foreground;
}
.theme-vs .ace_indent-guide {
  border-right: 1px dashed $editorIndentGuide.background;
  box-sizing: border-box;
}

/*.theme-vs .sub-header{*/
/*    color: $sideBarSectionHeader.foreground;*/
/*    background: $sideBarSectionHeader.background;*/
/*}*/
.theme-vs .buttonBar span,
.theme-vs .nav-breadcrumb{
    background: $++button.foreground;
    color: $button.background;
}
.theme-vs.theme-dark .nav-breadcrumb{
    background: $--activityBar.background;
}
.theme-vs .dropdown-content {
    background: $menu.background|activityBar.background;
}

.theme-vs .dropdown-content>li a {
    color: $menu.foreground|activityBar.foreground|foreground;
}

.theme-vs .dropdown-content .material-icons {
    color: $menu.foreground;

}
.theme-vs .dropdown-content>li:hover {
    background: $menu.selectionBackground;
    color: $menu.selectionForeground;

}
.theme-vs .material-icons{
    color: $icons.color|button.background;
}
.theme-vs .btn,
.theme-vs .buttonBar span[ace_selected_button="true"] {
    background: $button.background;
    color: $button.foreground|#ffffff;
}
.theme-vs .ace_button:active,
.theme-vs .ace_searchbtn:active,
.theme-vs button:active {
    background-color: $button.activeBackground;
}

.theme-vs .btn:hover {
    background: $button.hoverBackground|#777777;
}

.theme-vs label{
    color: $sideBar.foreground|inherit;
}

.theme-vs .color-inactive,
.theme-vs .ace_button:not(.checked) {
    opacity: 0.75;
    color: $foreground|sideBar.foreground;
}


.theme-vs .fileview-container>.fileview::-webkit-scrollbar,
.theme-vs .editor>.ace_scrollbar::-webkit-scrollbar {
    background: $scrollbarSlider.background;
}


.theme-vs .fileview::-webkit-scrollbar-thumb,
.theme-vs .editor>.ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: $scrollbarSlider.activeBackground;
}

.theme-vs .fileview::-webkit-scrollbar-thumb:hover,
.theme-vs .editor>.ace_scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: $scrollbarSlider.hoverBackground;
}

.theme-vs .tab>a.material-icons {
    color: inherit;
}

.theme-vs #selector {
    background: $tab.inactiveBackground;
}

.theme-vs #selector>.tab>.active {
    background: $tab.activeBackground;
    color: $tab.activeForeground|tab.activeBorderTop;
}

.theme-vs .tab>a {
    color: $tab.inactiveForeground;
}

.theme-vs .checked,
.theme-vs .buttonBar span[ace_selected_button="true"],
.theme-vs #selector>.tab>.active {
    opacity: 1;
    color: $tab.activeForeground;
    border-color: $tab.activeBorderTop;
}
.theme-vs #menu>.tab>.active{
    color: $activityBar.foreground|tab.activeForeground;
}
.theme-vs #menu>.tab>.active:before {
    border-color: $activityBar.foreground|$tab.activeBorderTop;
}

.theme-vs .border-inactive {
    border-color: rgba(0,0,0,0.1);
    border-color: $contrastBorder;
}

.theme-vs :not(.marked-file).file-item:focus {
    background: $list.focusBackground;
    color: $list.focusForeground;
}

.theme-vs :not(.marked-file).file-item:hover {
    background: $list.hoverBackground;
    color: $list.hoverForeground;

}

.theme-vs .modal-overlay,
.theme-vs .sidenav-overlay {
    background: $dropdownOverlay.background|tab.inactiveBackground;
}

.theme-vs #opendocs {
    border-color: rgba(0,0,0,0.1);
    border-color: $contrastBorder;
    margin-bottom: 0;
}

/*.theme-vs #opendocs>.file-item {*/
/*    background: $list.inactiveSelectionBackground;*/
/*    color: $list.inactiveSelectionForeground;*/
/*}*/

/*.theme-vs #opendocs>.file-item:not(.activeTab) .material-icons{*/
/*    color: inherit;*/
/*}*/
.theme-vs #opendocs>.activeTab{
    background: $list.activeSelectionBackground;
    color: $list.activeSelectionForeground|foreground;
}
.theme-vs .activeTab .material-icons{
    color: $list.activeSelectionForeground|foreground;
}
.theme-vs.theme-dark .activeTab .material-icons{
    color: white;
}
.theme-vs #status-bar {
    background: $statusBar.background;
    color: $statusBar.foreground|#eeeeee;
}

.theme-vs ::-webkit-input-placeholder {
    color: $input.placeholderForeground|#777777;
}

.theme-vs ::-moz-placeholder {
    color: $input.placeholderForeground|#777777;
}

.theme-vs :-ms-input-placeholder {
    color: $input.placeholderForeground|#777777;
}

.theme-vs ::-ms-input-placeholder {
    color: $input.placeholderForeground|#777777;
}

.theme-vs ::placeholder {
    color: $input.placeholderForeground|#777777;
}

.theme-vs .btn-flat {
    background: none;
    color: $textLink.foreground;
}

.theme-vs .btn-flat:active {
    color: $textLink.activeForeground;
}

.theme-vs input:not([type]),
.theme-vs input,
.theme-vs select,
.theme-vs .buttonBar,
.theme-vs input {
    background: $input.background;
    color: $input.foreground|++++foreground;
}

.theme-vs.theme-dark input:not([type]),
.theme-vs.theme-dark select,
.theme-vs.theme-dark .buttonBar,
.theme-vs.theme-dark input {
    background: $input.background;
    color: $input.foreground|--foreground;
}

.theme-vs .border-secondary,
.theme-vs select,
.theme-vs .ace_prompt_container .ace_focus:first-child,
.theme-vs input:not([type]):focus:not([readonly]),
.theme-vs input:focus:not([readonly]) {
    border-color: $input.activeBorder|button.background;
}

.theme-vs :checked+.checkbox-filled-in:before {
    border-right-color: $button.foreground|#ffffff;
    border-bottom-color: $button.foreground|#ffffff;
}


.theme-vs :not(:checked)+.checkbox-track:after,
.theme-vs :not(:checked)+.checkbox-track:before{
    background: $foreground|sideBar.foreground;
}
.theme-vs :checked+.checkbox-track:after,
.theme-vs :checked+.checkbox-track:before,
.theme-vs :checked+.checkbox-filled-in:after {
    background: $button.background;
    border-color: $button.background;
}
.theme-vs :not(:checked)+.checkbox-filled-in:after {
    border-color: $-button.background;
}

.theme-vs.theme-dark :not(:checked)+.checkbox-filled-in:after {
    border-color: $+button.background;
}

.theme-vs .ace_editor .ace_text-layer {
    background: none;
}

.theme-vs .ace_editor {
    background: $editor.background;
    color: $editor.foreground;
}

.theme-vs .ace_editor .ace_active-line {
    background: $editor.lineHighlightBackground;
}

.theme-vs .ace_editor .ace_gutter-cell {
    color: $editorLineNumber.foreground;
}

.theme-vs .ace_editor .ace_gutter-active-line {
    color: $editorLineNumber.activeForeground;
}

.theme-vs .ace_editor.ace_autocomplete {
    background: $editorSuggestWidget.background;
    color: $editorSuggestWidget.foreground;
}

.theme-vs .ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
    background: $editorSuggestWidget.selectedBackground;
    color: $editorSuggestWidget.highlightForeground;
}

.theme-vs .ace_gutter {
    background: $editorGutter.background;
    color: $editorGutter.foreground|foreground;
}

.theme-vs .error-text {
    color: $errorForeground|#e51c23;
}

.theme-vs .ace_tooltip,
.theme-vs .symbol-tooltip {
    background: $editorWidget.background;
    color: $editorWidget.foreground|foreground;
    border-color: $editorWidget.border;
}

.theme-vs .ace_marker-layer .ace_bracket {
    background: $editorBracketMatch.background;
}

.theme-vs .ace_marker-layer .ace_selection {
    background: $editor.selectionBackground|editor.selectionHighlightBackground;
}

.theme-vs .ace_marker-layer .ace_selected-word {
    background: $editor.wordHighlightBackground|editor.inactiveSelectionBackground;
}

.theme-vs .ace_bad_regex .ace_search_field:active,
.theme-vs .ace_bad_regex input:not([type]):focus,
.theme-vs .ace_bad_regex input:focus {
    border-color: $inputValidation.errorBorder;
    background: $inputValidation.errorBackground;
    color: $inputValidation.errorForeground;
}

.theme-vs .acediff-added {
    background: $diffEditor.insertedTextBackground;
    border: 1px solid $diffEditor.insertedTextBorder|transparent;
}

.theme-vs .acediff-removed {
    background: $diffEditor.removedTextBackground;
    border: 1px solid $diffEditor.removedTextBorder|transparent;
}
