.theme-highlight,
.theme-highlight .ace_search {
    background: white;
    color: #303030;
}

.theme-highlight .fileview::-webkit-scrollbar-thumb,
.theme-highlight .editor>.ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
}

.theme-highlight-dark .ace_button:active,
.theme-highlight-dark .ace_searchbtn:active,
.theme-highlight-dark button:active {
    background-color: #101010;
}

.theme-highlight-dark .sub-header{
    color: ACTIVE;
}
.theme-highlight-dark,
.theme-highlight-dark .ace_search {
    background: #151515;
    color: BODYTEXT;
}

/*Headers and buttons*/
.theme-highlight .btn,
.theme-highlight .header {
    color: TEXT;
    background: PRIMARY;
}
.theme-highlight .btn .material-icons,
.theme-highlight .header .material-icons {
    color: inherit;
}
.theme-highlight .btn .color-inactive,
.theme-highlight .header .color-inactive {
    color: TEXT;
    opacity: 0.6;
}



.theme-highlight .border-secondary,
.theme-highlight .ace_search,
.theme-highlight .ace_prompt_container .ace_focus:first-child,
.theme-highlight input:not([type]):not([readOnly]),
.theme-highlight input[type="text"]:not([readOnly]),
.theme-highlight input[type="search"]:not([readOnly]),
.theme-highlight input[type="number"]:not([readOnly]) {
    border-color: ACTIVE;
}


.theme-highlight .header input:not([type]):not([readOnly]),
.theme-highlight .header input[type="text"]:not([readOnly]),
.theme-highlight .header input[type="search"]:not([readOnly]),
.theme-highlight .header input[type="number"]:not([readOnly]) {
    /*darken-4*/
    background: rgba(0, 0, 0, 0.15);
    border-color: white;
}

.theme-highlight .buttonBar span[ace_selected_button="true"]{
    background: PRIMARY;
    color: TEXT;
}
.theme-highlight .material-icons,
.theme-highlight .btn-flat,
.theme-highlight button,
.theme-highlight .tab>.active,
.theme-highlight .mod-key-active,
.theme-highlight .checked {
    color: ACTIVE;
    opacity: 1;
}
.theme-highlight .tab>a
{
    border-color: ACTIVE;
}


.theme-highlight .btn:hover,
.theme-highlight #controls .header:hover {
    /*darken-2*/
    background: ACTIVE;
}


.theme-highlight [class^="ace_cursor_handle-"],
.theme-highlight [class*=" ace_cursor_handle-"] {
    color: DARKER;
}

/*Checkboxes*/
.theme-highlight [type="checkbox"]:checked+span:not(.lever):after {
    background: ACTIVE;
    border-color: ACTIVE;
}